
        a{
           color: black;
       }
       a:hover {
           text-decoration: none;
           text-transform: uppercase;
           font-weight: bold;

       }
       a:visited{
           color: blue;
       }
       table {
           border-collapse: collapse ;
           width: 100px;
       }

       th, td {
           text-align: left;
           padding: 8px;
           border-bottom: 1px solid #ddd;
       }

       th {
           background-color: #4CAF50;
           color: white;
       }
       
   